<%= form_for @festival do |f| %>
<p>
  <%= f.label :name %><br>
  <%= f.text_field :name %>
</p>

<p>
  <%= f.label :startdate, "Start Time" %><br>
  <%= f.datetime_select :startdate %>
</p>

<p>
  <%= f.label :enddate, "End Time" %><br>
  <%= f.datetime_select :enddate %>
</p>

<%= f.fields_for :stages do |s| %>
  <fieldset>
    <%= s.label :name %>
    <%= s.text_area :name %>
  </fieldset>
<% end %>
<%= f.submit %>
<% end %>
