<%= form_for @festival do |f| %>
<p>
  <%= f.label :name %><br>
  <%= f.text_field :name %>
</p>

<p>
  <%= f.label :startdate, "Start Time" %><br>
  <%= f.datetime_select :startdate %>
</p>

<p>
  <%= f.label :enddate, "End Time" %><br>
  <%= f.datetime_select :enddate %>
</p>

<div id="stages">
<%= f.fields_for :stages do |stage| %>

<%= render 'stage_fields', :f => stage %>
<div class="links">
<%= link_to_add_association 'Add Stage', f, :stages %>
</div>
<% end %>
</div>
<%= f.submit %>
<% end %>
